.wrapper {
  max-width: calc(964px - (30px * 2));
}

.site-header {
  border-top: none;
  border-bottom: 1px solid #222222;

  .wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.site-title, .site-title:hover, .site-title:visited {
  color: #f0f0f0 !important;
  @include relative-font-size(2);
  text-decoration: none;
  font-style: italic;
  display: inline-block;
  padding-right: 200px;
}

.site-footer {
  .footer-nav {
    .page-link {
      color: #999999;
    }
  }
  .contact-list {
    text-align: right;
  }
}

.page-content {
  color: #e0e0e0;

  h1, h2, h3 {
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;

    &.left {
      text-align: left;
    }

    &:first-child {
      margin-top: 0px;
    }
  }

  h1, h2 {
    margin-top: 60px;
  }

  h3, h4 {
    margin-top: 40px;
  }

  p:has(img) {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;

    img {
      max-height: 280px;
    }
  }

  blockquote {
    background-color: #202020;
    padding: 20px 15px;
    font-style: normal;
    color: #e0e0e0;
    @include relative-font-size(1);

    .def, .lem, .thm, .cor, .prf, .pro, .sol, .prop {
      display: inline-block;
      min-width: 100px;
      padding-right: 15px;
      font-weight: bold;
      font-style: normal;
    }

    em {
      font-style: italic;
    }

    strong {
      color: #f0f6fc;
    }

    ul {
      li {
        margin-bottom: 1em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    mjx-container:last-child {
      margin-bottom: 0;
    }
  }

  p > .MathJax {
    margin-left: 1px;
    margin-right: 1px;
  }

  .page-title {
    @include relative-font-size(2.5);
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 10px 0;
  }
}
