.wrapper {
  max-width: calc(964px - (30px * 2));
}

.site-header {
  border-top: none;
  border-bottom: 1px solid #222222;

  .wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.site-header .wrapper {
}

.site-title {
  color: #efefef;
  @include relative-font-size(1.25);
  font-weight: bold;
}
